html, body 
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	background-color: lightgray;
 }

.mybg
{
	width: 100%;
	height: 100%;
	background-image: url('../img/sim.png');
}

.dark_font
{
	color: black;
	opacity: 100%;
}

div.second h1
{
	opacity: 90%;
	
}

img 
{
	max-width: 100%;
	height: auto;
	margin: 10px;
}

.img_exemp
{
	height: 300px;
	margin: auto;
}

  h4
  {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-family: HeliosCond-Bold;
	font-weight: bold;
}

h5
{
	margin-left: 30px;
}

.contact-info h4, i
{
	font-size: 14px;
	margin: 0;
	height: 20px;
    padding: 15px 0 10px;
	margin-left: 30px;
    color: rgb(201, 201, 201);
}

.contact-info a
{
	font-size: 30px;
    color: rgb(201, 201, 201);
	position: relative;
	
}

.card
{
	padding-top: 100px;
	height: 300px;
}


.header-top-block 
{
    justify-content: flex-end;
}

.img_card
{
	padding: auto;
	margin: auto;
}

.img-wrap h1 
{
	left: 0;
	bottom: 0;
	height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .img-wrap h1::after
{
	left: 0;
	bottom: 0;
	height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .img-wrap {
	position: relative;
  }

  i
  {
	margin-right: 10px;
  }

  .blog-footer i
  {
	height: 30px;
  }

  .icon-footer
  {
	height: 30px;
	font-size: 50px;
  }

  .services
  {
	padding: 30px;
	margin-top: 0;
  }

  .examples-div
  {
	padding: 30px;
	margin-top: 0;
  }

  .st-card
  {
	border: 1px solid gray;
	background-color: rgb(238, 238, 238);
	margin-bottom: 10px;
	padding: 10px;
  }

  .st-card img
  {
	display: block;
	height: 270px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
  }

  .links-div
  {
	font-size: 16px;
	padding-top: 20px;
	margin: auto;
	display: block;
	border: 1px solid red;
  }

  .card-title
  {
	border: 0px solid rgb(202, 10, 10);
	height: 180px;
	margin: 0px 10px 10px 10px;
	font-family: "Montserrat,sans-serif";
	vertical-align: middle;

  }

  .card-title h5
  {
	font-family: "Montserrat,sans-serif";
	font-weight: bold;
	margin-bottom: 20px;
  }



  /* ФОРМА ОБРАТНОЙ СВЯЗИ  */
  #contacts-form
  {
	width: 100%;
	padding-bottom: 40px;
	padding-top: 10px;
	border-top: 4px solid #ccc;
	border-bottom: 4px solid #ccc;
	background: #f4f4f4;
  }

  #form_input
  {
	display: block;
	margin-top: 0px;
	margin-bottom: 30px;
	width: 49%;
	font-size: 1.1em;
	border: 0px solid red;
  }

  #form_input input, #form_input textarea
  {
	margin-bottom: 10px;
	width: 100%;
	padding: 10px 2%;
	border-radius: 7px;
	border: 2px solid silver;
	font-size: 0.9em;
	color: #4a4a4a;
  }

  /*
  .btn
  {
	float: left;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 1.2em;
	background-color: #ec6550;
	text-shadow: #454545 0 0 2px;
	cursor: pointer;
	color: white;
	font-family: 'Roboto Slab' serif;
  }

  .btn:hover
  {
	background-color: #c15443;
	color: white;
  }
  */

  .form-row 
  {
    position: relative;
    margin-bottom: 16px;
}






